*{
  margin:0;
  padding:0;
}
body{
  background-color:#eee;
  font-family: 'Oxygen', sans-serif;
  overflow-y:scroll;
}
.right h3{
  font-size:30px;
  font-weight:200;
  color: rgb(50, 50, 50);
}
h3{
  font-weight:500;
}
#navigation{
  width:100%;
  position:fixed;
  top:0;
  z-index:9999;
  background-color: #3F51B5;
  height:60px;
}
nav{
  width:80%;
  margin:0 auto;
}
nav ul{
  list-style:none;
}
nav ul li{
  display:inline;
  line-height:60px;
}
nav ul li a{
  color: rgb(255, 255, 255);
  text-decoration:none;
  background: rgba(26, 35, 126, 0);
  font-weight:200;
  font-size: 12px;
  padding:10px;
  border-radius:2px;
}
nav ul li a:hover{
  background-color:white;
  color:rgb(61, 117, 157);
}
nav .left{
  float:left;
  margin:7px 10px 0 0;
}
.right{
  float:right;
}
#content{
  width:80%;
  margin:70px auto 0 auto;
  padding:15px;
  overflow:auto;
}
h1{
  font-size:25px;
  color:#444;
  font-weight:200;
  //margin:20px 0 10px 0; 
}
.form-label{
  color:#444;
  font-size:14px;
}
p{
  margin:10px 0;
}
.error{
  max-width:100%;
  top:-10px;
  padding:10px;
  text-align:center;
  font-size:13px;
  left:0;
  position:relative;
  background-color: rgb(228, 78, 78);
  color: white;
}
.warning{
  position:fixed;
  bottom:0px;
  left:0;
  width:100%;
  margin:0 auto;
  padding:10px 20px 10px 20px;
  text-align:center;
  font-size:14px !important;
  font-weight: 200 !important;
  background-color: rgba(84, 84, 84, 1);
  color: rgb(255, 255, 255);
  z-index:999;
}
hr{
  opacity:0.2;
  margin:10px 0; 
}
.inputText {
  min-height:10px;
  padding:10px;
  color:#555;
  border:1px solid #ccc;
  margin:5px 0;
  width:94%;
}
select{
  background-color:white;
  border-radius:0;
  //width:420px;
  min-height:10px;
  padding:10px;
  color:#555;
  border:1px solid #ccc;
  margin:5px 0;
  padding:10px;
}
.btn_sub, .btn_edit, .btn_help{
  background-color: #3D5AFE;
  border:none;
  padding:10px;
  color:white;
  /* border-radius:3px; */
  min-width:100px;
  cursor:pointer;
  text-decoration:none;
  font-size:12px;
}
.btn_help{
  padding:5px;
  margin:10px;
  background: rgb(255, 155, 0);
  font-size:11px;
}
.btn_edit{
  border-radius:2px;
  margin-top:20px;
  padding:5px;
  background-color:rgb(240, 240, 240);
  border:1px solid #ccc;
  font-weight:500;
  color:rgb(87, 87, 87);
  min-width:80px;
}
.btn_sub:hover, .btn_edit:hover, .btn_help:hover{
  opacity:0.8;
  cursor:pointer;
}
.traffic-outer{
  /* border:1px solid #ccc; */
  border-radius:5px;
  /* background: #2C2C2C; */
  height:220px;
  width:100px;
  padding:10px;
  margin:0 auto;
}
.traffic-inner{
  margin:auto;
  width:65px;
}
.traffic-inner .status_0{
  height:70px;
  width:70px;
  margin: 5px 0;
  border-radius:20%;
  background: rgb(240, 240, 240);
  cursor:pointer;
}
.traffic-inner .status_1{
  height:70px;
  width:70px;
  margin: 5px 0;
  border-radius:20%;
  background: rgb(83, 200, 83);
}
.traffic-inner .status_2{
  height:70px;
  width:70px;
  margin: 5px 0;
  border-radius:20%;
  background: rgb(255, 171, 77);
}
.traffic-inner .status_3{
  height:70px;
  width:70px;
  margin: 5px 0;
  border-radius:20%;
  background: rgb(192, 80, 80);
}
.traffic-outer .info{
  margin-top:20px;
  text-align:center;
  list-style:none;
  background-color:#eee;
  font-size:13px;
  border-radius:5px;
  border:1px solid #ccc;
}
.inputLeft{
  float:left;
}
.outputRight{
  float:right;
  width:30%;
}
.card{
  position: relative;
  //width:95%;
  //float:left;
  min-height:300px;
  padding:15px;
  overflow:auto;
  //margin:20px;
  background-color:white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
}
.card input{
  border:1px solid #ccc;
  width:100%;
  font-weight:bold;
  padding: 0;
  padding:5px;
  font-size:15.5px;
  height:20px;
  margin:5px 0 5px 0;
  font-weight:500;
}
.card input:focus{
  outline:none;
}
.card .left{
  float:left;
  width:30%;
}
.milestone{
  color: rgb(63, 81, 181);
  font-size:24px !important;
}
.card p {
  font-weight:500;
  font-size:16px;
}
.card .right{
  float:left;
  padding:10px;
  color: #565656;
}
.card .right ul li{
  list-style:none;
}
.no_proj{
  color:#444;
  font-weight:200;
  margin:50px 0;
}
.delete_card{
  background-color:white;
  border:none;
  top:5px;
  right:15px;
  color: #A3A3A3;
  font-size:15px;
  position: absolute;
  cursor:pointer;
  font-weight:500;
}
.delete_card:focus{
  outline:0;
}
.delete_card:hover{
  opacity:0.5;
}
.userCard{
  list-style:none;
  background:white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
  margin:20px auto;
  max-width:50%;
  height:40px;
  line-height:40px;
  padding:10px;
  font-size:14px;
  padding-left:20px;
  color:#555;
}
.userCard .edit{
  margin-left:-8px;
  color:#555;
  padding:10px;
  border:1px solid #ccc;
  font-size:14px;
}
.userCard .edit:focus{
  outline:none;
}
.delete_userCard{
  background-color:white;
  border:none;
  margin:0 10px 0 -10px;
  color: #A3A3A3;
  font-size:12px;
  cursor:pointer;
  font-weight:500;
}
.delete_userCard:hover{
  opacity:0.8;
}
.userCard .btn_sub{
  float:right;
  background-color: rgb(240, 240, 240);
  color: rgb(87, 87, 87);
  padding:5px;
  height:100%;
}
.back{
  max-width:35%;
  overflow:auto;
  background-color:white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
  padding:20px;
  margin:10px;
}
.back-addUser{
  max-width:35%;
  overflow:auto;
  background-color:white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
  padding:20px;

}
.sortable-item {
  transition: all .125s;
}
ul{
  list-style:none;
}
.sortable-item.is-dragging {
  transition-duration: 0s;
  z-index: 10;
  cursor:move;
}
.sortable-item.is-dropping {
  z-index: 10;
  cursor:move;
}
.handle:hover{
  cursor:move;
}


/*GRID*/
ul.grid > li {
   width: 100%;
   float: left;
   padding: 0 12px 12px;
}
ul.grid > li:nth-of-type(2n+1) {
   clear: left;
}
@media (min-width:1092px) and (max-height:1999px){
  ul.grid > li {
     width: 50%;
     float: left;
     padding:20px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
  }
  ul.grid > li:nth-of-type(6n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(5n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(4n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(3+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(2n+1) {
    clear:left;
  }
}
@media (min-width:2000px) and (max-width:2999px){
  ul.grid > li {
     width: 33.3333%;
     float: left;
     padding: 20px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
  }
  ul.grid > li:nth-of-type(6n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(5n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(4n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(3+1) {
     clear: left;
  }
  ul.grid > li:nth-of-type(2n+1) {
    clear:none;
  }
}
@media (min-width:3000px) and (max-width:3999px){
  ul.grid > li {
     width: 25%;
     float: left;
     padding: 20px
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
  } 
  ul.grid > li:nth-of-type(6n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(5+1) {
     clear: none;
  } 
  ul.grid > li:nth-of-type(4n+1) {
     clear: left;
  }
  ul.grid > li:nth-of-type(3+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(2n+1) {
    clear:none;
  }
}
@media (min-width:4000px) and (max-width:4999px){
  ul.grid > li {
     width: 20%;
     float: left;
     padding: 20px
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
  }  
  ul.grid > li:nth-of-type(6n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(5n+1) {
     clear: left;
  }
  ul.grid > li:nth-of-type(4n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(3+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(2n+1) {
    clear:none;
  }
}
@media (min-width:5000px){
  ul.grid > li {
     width: 16.66666%;
     float: left;
     padding: 20px
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
  }  
  ul.grid > li:nth-of-type(6n+1) {
     clear: left;
  }
  ul.grid > li:nth-of-type(5n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(4n+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(3+1) {
     clear: none;
  }
  ul.grid > li:nth-of-type(2n+1) {
    clear:none;
  }
}

.revenue{
	list-style-type: none;
  color: #565656;
}

.revenue h1 {
  color: #444;
}

.targetbox, .invoicedbox, .remainingbox {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  display: block;
  width: 30%;
  font-size: 15px;
}

/*.revenue-card {
	  position: relative;
	  width: 45%;
	  margin: 20px;
	  height: 20%;
	  padding:15px;
	  overflow:auto;
	  background-color:white;
	  box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
	  display: block;
	  color: #565656;
	}
  */
  
}