<div id="navigation">
  <nav>
    <ul class="left">
      <li><img src="assets/logoW.svg" height="30px" /></li>
    </ul>
    <ul class="right">
      <li>{{#link-to "all-projects"}}Live Projects{{/link-to}}</li>
      <li>{{#link-to "archived-projects"}}Archived Projects{{/link-to}}</li>
      <li>{{#link-to "new-project"}}New Project{{/link-to}}</li>
      <li>{{#link-to "all-users"}}All Users{{/link-to}}</li>
      <li>{{#link-to "new-user"}}Add User{{/link-to}}</li>
      <li> {{#link-to "all-revenue"}}Revenue{{/link-to}}</li>
    </ul>
 </nav>
 <div class="rightDate">
   {{formattedDate}}
 </div>
</div>