<div id="navigation">
  <nav>
    <ul class="left">
      <li><img src="http://sparkrevolutions.com/wp-content/themes/sparkRevised/i/logoW.svg" height="30px" /></li>
    </ul>
    <ul class="right">
      <li>{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
      <li>{{#link-to "all-projects"}}All Projects{{/link-to}}</li>
      <li>{{#link-to "new-project"}}New Project{{/link-to}}</li>
    </ul>
  </nav>
</div>