<div id="content">
  <h1>New User</h1>
  <br>
  {{#if isError}}
    <p class="error">
        Please ensure all the required fields contain the correct information
    </p>
  {{/if}}
  <hr/>
  <div class="back-addUser">
    <label class="form-label">First Name*</label>
    <br>
    {{input type="text" autofocus="autofocus"  placeholder="first name" name="name" class="inputText" value=name}}
    <br>
    <br>
    <a href="javascript:history.back()" class="btn_sub">Back</a>
    <button class="btn_sub" {{action "addUser"}}>Add</button>
  </div>
</div>