<div id="content">
  <h1>New Project</h1>
  <br>
  <p></p>
  <hr/>
  <label class="form-label">Project Title</label>
  <br>
  {{input type="text" placeholder="project title" name="ProjectTitle" class="inputText" value=projectTitle}}
  <br>
  <br>
  <label class="form-label">1st Milestone Information</label>
  <br>
  {{textarea placeholder="first milestone..." name="milestone" class="inputText" rows="5" value=projectMilestone}}
  <br>
  <button class="btn_sub" {{action "createProject"}}>Create</button>
</div>